*{
    margin:0;
    padding:0;
    background-color: black;
    box-sizing: border-box;
    font-family: 'times new roman';
    scroll-behavior: smooth;
    text-decoration: none;
    border:none;
    outline: none;

    
}
html{
    font-size: 62.5%;
}
body{
    width:100%;
    overflow-x:hidden;
}
.nav{
    width:100%;
    position:fixed;
    padding:2rem 9%;
    top:0;
    left:0;
    z-index:100;
    
    
}
.nav ul{
    display: flex;
    float:right;
}
.nav li{
    list-style:none;
    position: relative;
    
}
.nav li a{
    text-decoration: none;
    font-size:1.8rem;
    color:pink;
    padding:1.4rem 1.6rem;
    transition:0.3s;
    
  
}
.nav li a:hover,
.nav li a.active{
    color:white;
}
.nav li a.active::after,
.nav li a:hover::after{
    content:"";
    width:30%;
    height:2px;
    background:white;
    position: absolute;
    bottom:-4px;
    left:20px;


}
.main{
    display:flex;
    padding-top:2rem;
}
.main .box h4{
text-align: center;
font-size: 3rem;
padding:1rem 1rem;
color:white;
background-color: transparent;
}
.main .box{
    padding:1rem 2rem;
    margin:1rem 3rem;
    background-color: pink;
    width:40rem;
    height:30rem;
    text-align:center;
    align-items: center;
    box-shadow: 2rem 2rem 3rem rgba(237, 231, 236, 0);
    cursor:pointer;
    transition:0.2 ease;
    border-radius: 0.6rem;
    

}
.main .box:hover{
    /* box-shadow: 2rem 2rem 3rem rgba(237, 231, 236, 0.295); */
    cursor:pointer;
    width:42rem;
    height:32rem;
    transition: width height 2s ease-in-out 1s;
    border:4px solid white;
}
.main{
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
.main p{
    color:white;
    font-family:'Cambria';
    background-color: transparent;
    font-size: 1.5rem;
}
body h1{
    text-align: center;
    font-size: 8.5rem;
    color:pink;
    padding:7rem;
}
h1 span{
    color:white;
}
.box button{
    color: black;
    font-weight: 600;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-family: 'Times new roman',sans-serif;
    border-radius: 1rem;
    margin:2rem;
    cursor:pointer;
    background-color: white;
}
.box a{
    background-color: transparent;
}
@media (max-width: 600px) {
    html {
      font-size: 50%;
    }

  }
@media(max-width:400px){
    html{
      font-size: 40%;
    }
  }