*{
  margin:0;
  padding:0;
  background-color: black;
  box-sizing: border-box;
  font-family: 'times new roman';
  scroll-behavior: smooth;
  text-decoration: none;
  border:none;
  outline: none;

  
}
html{
  font-size: 62.5%;
}
body{
  width:100%;
  overflow-x:hidden;
}
.nav{
  width:100%;
  position:fixed;
  padding:2rem 9%;
  top:0;
  left:0;
  z-index:100;
 
  
  
}
.nav ul{
  display: flex;
  float:right;
 
}
.nav li{
  list-style:none;
  position: relative;
 
}
.nav li a{
  text-decoration: none;
  font-size:1.8rem;
  color:pink;
  padding:1.4rem 1.6rem;
  transition:0.3s;
 
  

}
.nav li a:hover,
.nav li a.active{
  color:white;
}
.nav li a.active::after,
.nav li a:hover::after{
  content:"";
  width:30%;
  height:2px;
  background:white;
  position: absolute;
  bottom:-4px;
  left:20px;
  text-decoration: underline;


}
  
.main {
    color: pink;
  }
  
  .main h1 {
    color: white;
    font-family: 'Times new roman', monospace;
    text-align: center;
    font-size: 8.5rem;
    padding-top: 3rem;
    margin-top:3.8rem;
  }
  
  .main h1 span {
    color: pink;
  }
  
  .contactform {
    padding: 0 2rem;
    padding-top: 5rem;
    font-family: 'Times new roman', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    max-width: 150rem;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  
  .text {
    width: 100%;
    max-width: 70rem;
  }
  
  .text p {
    text-align: left;
    font-weight: 500;
    text-decoration: none;
    line-height: 26pt;
    font-size: 1.7rem;
  }
  
  .text h4 {
    text-align: left;
    line-height: 22pt;
    font-size: 1.6rem;
  }
  
  .text h4 span {
    color: white;
  }
  
  .social-icons {
    color: white;
    transition: color 0.3s;
    text-decoration: none;
    margin: 0 .5rem;
    position: relative;
    top: .8rem;
    font-size: 3rem;
  }
  
  .social-icons:hover {
    color: rgb(222, 91, 112);
  }
  form{
    width:40rem;
  }
  
  .form div {
    width: 100%;
    max-width: 50rem;
    
  }
  
  
  .contactform form div {
    padding: 1rem 2rem;
  }
  
  .contactform form div input {
    width: 100%;
    border-radius: 0.5rem;
    background-color: white;
    margin: .6rem 0;
    padding: .3rem;
  }
  
  .contactform form button {
    background-color: pink;
    color: black;
    font-weight: 600;
    padding: 1rem 2.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-family: 'Times new roman', sans-serif;
    border:none;
  }
  
  .form-text {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .contactform form button:hover {
    color: white;
    border:.2rem solid white;
  }
  @media (max-width: 600px) {
    html {
      font-size: 50%;
    }
    form{
      width: 100%;
      padding-top:3rem;
      font-size: 1.8rem;
     
    }
    .form-text{
      text-align: center;
    }
    .submitbutton{
      text-align: center;
    }
    .text p,.text h4{
      font-size:1.8rem ;
    }
    

  }
@media(max-width:400px){
    html{
      font-size: 40%;
    }
  }
  @media(max-width:1140px){
   form{
    padding-top:3rem;
   }
  }